@model IEnumerable<MoviesManagememtSystem.Models.Movie>

@{
    ViewData["Title"] = "Index";
}



<p>
    <!--Change create link to create button-->
    <a asp-action="Create" class="btn tm-btn-secondary">Create New</a>
</p>
<table class="table" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.plot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.publishTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProduceDt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.plot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publishTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProduceDt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
